<div id="app_container" class="h100">
  <div class="container min-h100 bodynav-bg-color">
    <header class="header">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top topnav-bg-color">
        <div class="navbar-right-part">
          <div class="router">
            <ul class="navbar-nav mr-auto">
              <li routerLinkActive="active" class="mr-10"><a routerLink=""><span class="text-black">Home</span></a></li>
              <li routerLinkActive="active" class="mr-10"><a routerLink="/addword"><span class="text-black">Add Words</span></a></li>
              <li routerLinkActive="active" class="mr-10"><a routerLink="/learn"><span class="text-black">Learning</span></a></li>
              <li routerLinkActive="active" class="mr-10"><a routerLink="/addcategory"><span class="text-black">Add Category</span></a></li>
              <li routerLinkActive="active" class="mr-10"><a routerLink="/about"><span class="text-black">About Us</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container main-body">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer topnav-bg-color">
      <div>
        <p class="text-center text-muted">
          <span class="appName" style="font-style:italic">Robert Vo </span><span class="appName">learning page</span> &copy; {{getYear()}}
          <a href="https://www.robertvolearningpage.com" target="_blank">www.mytienraincoat.com</a>
        </p>
      </div>
    </footer>
  </div>
</div>
