################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningWebApps/.vs/LearningWebApps/v15/Server/sqlite3
/LearningWebApps/.vs/LearningWebApps/v15
